body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #BEF4EE;
    color: #4C5270;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
}

header{
    background-color: #4C5270;
    color: #68BBE3;
}

header a:link{
    color: #a5d8f1;
    /*La advertencia del valor de color de fondo ha sido comprobada
    y no hay problema, ya que el color del fondo lo hereda del header
    */
}

header a:visited{
    color: #1e1212;
    /*La advertencia del valor de color de fondo ha sido comprobada
    y no hay problema, ya que el color del fondo lo hereda del header
    */
}

:link:hover{
    font-weight: bolder;
}

nav>ul{
  list-style-type: none;
}

ol{
    list-style-type: upper-roman;
}

ul{
    list-style-type: disc;
}

dl dt{
    color: black;
    font-weight: bold;
    font-style: oblique;
    text-decoration: underline;
    /*La advertencia del valor de color de fondo ha sido comprobada
    y no hay problema, ya que el color del fondo lo hereda del body
    */
}

caption{
      font-weight: bold;
      border: 3px solid #016650;
      border-collapse: collapse;
  }

video, img{
  width: 20%;
  height: auto;
}